* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: 'Poppins';
  src: url(./OpenSans.ttf);
}
body {
  display: grid;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background-color: rgb(21, 21, 21);
  min-height: 100vh;
}
.grid {
  border-radius: 5px;
  box-shadow: 0 5px 15px black;
  width: 1000px;
  height: 550px;
  background: white;
  display: grid;
  grid-template-columns: 0.6fr 1fr;
}
.kiri {
  background-image: url(./img/coding.jpg);
  border-radius: 5px 0 0 5px;
  background-size: cover;
  background-position: center;
  position: relative;
}

.kiri::after {
  content: '';
  background-color: rgba(255, 255, 255, 0.08);
  position: absolute;
  width: 100%;
  border-radius: 5px 0 0 5px;
  height: 100%;
  top: 0;
}
.kiri h1 {
  font-size: 22px;
  color: white;
  font-weight: 500;
  text-shadow: 1px 1px 5px black;
  padding: 25px;
  position: relative;
  z-index: 5;
}
h1 .coding {
  font-size: 40px;
  font-weight: 900;
}
h1 .bc {
  font-size: 28px;
  color: #57eaff;
}
.daftar-dengan {
  padding-top: 100px;
  position: relative;
  z-index: 999;
  margin: auto;
  height: 130px;
  width: 80%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.daftar-dengan div {
  background-color: white;
  border-radius: 35px;
  opacity: 90%;
  cursor: pointer;
  display: flex;
  padding: 5px 0;
}
.daftar-dengan div img {
  width: 20px;
  margin-left: 45px;
}
.daftar-dengan div a {
  text-decoration: none;
  color: black;
  padding-left: 10px;
  font-size: 14px;
}
/* kiri */
form {
  width: 90%;
  margin: 0 auto;
  padding-top: 25px;
}

form h2 {
  font-size: 22px;
  letter-spacing: 1px;
}

form .garis-atas {
  background-color: rgb(21, 21, 21);
  width: 75px;
  height: 5px;
  border-radius: 2px;
}
form .user-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
.user-details .input-box {
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
.input-box span.detail {
  font-weight: 500;
  display: block;
  margin-bottom: 5px;
}
.input-box input[type='text'],
.input-box input[type='password'],
.input-box input[type='email'],
select {
  height: 45px;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  border-bottom-width: 2px;
  transition: all 0.3s ease;
  width: 100%;
  background-color: white;
}
.input-box input[type='text']:focus,
.input-box input[type='password']:focus,
.input-box input[type='email']:focus,
select:focus {
  border-color: rgb(21, 21, 21);
  box-shadow: 1px 1px 1px 5px rgb(81, 81, 81);
}
.input-box label {
  padding-left: 5px !important;
  font-size: 14px;
  color: rgb(21, 21, 21);
  font-weight: 500;
}
.input-box label a {
  font-weight: 900;
  color: rgb(21, 21, 21);
  text-decoration: none;
}
.input-box input[type='checkbox'] {
  zoom: 1.3;
}
button {
  padding: 10px 0;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  color: white;
  background: linear-gradient(135deg, rgb(41, 41, 41), rgb(81, 81, 81));
  letter-spacing: 1px;
  cursor: pointer;
  margin-top: 25px;
}
button:hover {
  background: linear-gradient(135deg, rgb(81, 81, 81), rgb(41, 41, 41));
}
.login {
  padding-top: 30px;
  font-size: 14px;
  color: rgb(21, 21, 21);
}
.login a {
  padding-left: 5px;
  font-size: 16px;
  font-weight: bold;
  color: rgb(21, 21, 21);
  text-decoration: none;
}
/* handphone */
@media (max-width: 576px) {
  .grid {
    width: 95% !important;
    margin: 50px auto;
    display: block;
    height: 1300px;
  }
  .kiri {
    height: 500px;
    background-position: bottom;
    border-radius: 5px 5px 0 0;
  }
  .daftar-dengan {
    height: 150px;
  }
  .daftar-dengan div {
    width: 80%;
    margin: auto;
  }
  .daftar-dengan div img {
    width: 20px;
    margin-left: 15px;
  }
  form .user-details {
    display: block;
    width: 100%;
  }
  .input-box {
    width: 100% !important;
  }
  .input-box input[type='text'],
  .input-box input[type='password'],
  .input-box input[type='email'] {
    width: 96% !important;
  }
}
